<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Books</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default col-md-4 col-md-offset-4" style="margin-top: 100px;">
    <div class="panel-heading">
        <h3 class="panel-title" style="text-align: center;">Đăng nhập</h3>
    </div>
    <div class="panel-body">
        <form action="/users/login" method="post">
            <fieldset>
                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Email...">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password...">
                </div>
                <div class="checkbox">
                    <label for="remember">
                        <input type="checkbox" name="remember" value="Remember me"> Ghi nhớ mật khẩu
                    </label>
                </div>
                <input type="submit" class="btn btn-lg btn-success btn-block" value="Đăng nhập">
                <span><a href="">Đăng kí tài khoản</a></span>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>